.aboutCompanyContainer {
    display: flex;
    justify-content: center;
    gap: 30px;

    margin: auto;
    padding: 0 135px;

    max-width: 1170px;

    @media (max-width: 1050px) {
        padding: 29.14px 50px;
    }

    .firstImg {
        display: flex;
        flex-direction: column;
        gap: 30px;

        img {
            max-width: 270px;
            width: 100%;
        }
        @media (max-width: 1190px) {
            display: none;
        }
    }
    .secondImg {
        margin: auto 0;

        img {
            max-width: 270px;
            width: 100%;
        }
        @media (max-width: 600px) {
            display: none;
        }
    }
    .description {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h2 {
            font-weight: 300;
            font-size: 64px;
            line-height: 64px;

            color: #BDBDBD;

            @media (max-width: 1020px) {
                font-size: 40px;
            }
            @media (max-width: 600px) {
                margin: auto;
            }
        }
        h5 {
            max-width: 370px;
            width: 100%;

            font-weight: 300;
            font-size: 16px;
            line-height: 25px;

            color: #000000;

            @media (max-width: 600px) {
                text-align: center;
            }
        }
        span {
            display: flex;
            align-items: center;
            gap: 12px;
            width: max-content;

            padding: 24px 63px 23px 65px;

            font-weight: 400;
            font-size: 12px;
            line-height: 12px;
            letter-spacing: 2.1px;

            cursor: pointer;
            transition: 0.3s;
            
            @media (max-width: 600px) {
                margin: auto;
            }
        }
        span:active {
            background-color: #BDBDBD;
            transform: translateX(3px);
            opacity: 0.4;
            transition: 0.3s;
        }
    }
}