.headerContainer {
    display: flex;
    align-items: center;

    padding: 29.14px 135px;
    margin: auto;

    @media (max-width: 1050px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 29.14px 50px;
    }


    img {
        width: 70px;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        gap: 60px;

        width: max-content;
        padding: 0 134px 0 0;

        @media (max-width: 1350px) {
            padding: 29.14px 0;
        }
        @media (max-width: 1050px) {
            margin: 30px auto 0;
        }
        @media (max-width: 850px) {
            display: flex;
            justify-content: center;
            gap: 20px;

            max-width: 500px;
            width: 100%;

        }

        .main {
            width: 68px;

            border-top: 1px solid black;
            border-bottom: 1px solid black;

            transition: 0.5s;
        }

        .main:hover {
            border-top: 1px solid rgb(59, 59, 255);
            border-bottom: 1px solid rgb(59, 59, 255);
            transition: 0.5s;
        }

        span {
            font-weight: 400;
            font-size: 12px;
            letter-spacing: 2.2px;
            line-height: 18px;

            color: #333333;
            cursor: pointer;

            transition: 0.5s;
        }

        :hover {
            color: rgb(0, 0, 255);
            transition: 0.5s;
        }

        :active {
            transform: translateY(3px);
            opacity: 0.5;
            transition: 0.5s;
        }
    }

    
}